.content__list:not(:last-child) {
   margin-right: 10px;
}

.content__list {

   @media screen and (max-width: 479px) {
      margin-top: 15px;


      &:nth-child(-n+2) {
         margin-top: 0px;
      }
   }

   @media screen and (min-width: 480px) and (max-width: 767px) {
      margin-top: 15px;


      &:nth-child(-n+3) {
         margin-top: 0px;
      }
   }
}



.content__cards {
   display: flex;

   margin-bottom: 50px;

   @media screen and (max-width: 767px) {
      flex-wrap: wrap;
      flex-direction: row;
      align-items: flex-start;

   }

   @media screen and (min-width: 768px) {
      justify-content: center;
   }

}

.content__btn {

   color: var(--title-text-color);
   font-weight: 500;
   font-size: 16px;
   line-height: 1.85;
   letter-spacing: 0.03em;
   cursor: pointer;
   background-color: var(--accent-second-color);
   padding-left: 22px;
   padding-right: 22px;
   padding-top: 6px;
   padding-bottom: 6px;
   border-radius: 4px;
   border: none;
   transition-property: background-color, color, box-shadow;
   transition-duration: 250ms;
   transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

   &:hover,
   &:focus {
      color: var(--main-color);
      background-color: var(--accent-color);
      box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
   }
}

.current-content__btn {
   color: var(--main-color);
   background-color: var(--accent-color);
   box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
   border-radius: 4px;
   transition-property: color;
}

/* стиль ПОРТФОЛІО-------------------------------*/

.section.content {
   @media screen and (max-width: 1198px) {

      padding-top: 60px;
      padding-bottom: 60px;
   }

   @media screen and (min-width: 1200px) {

      padding-top: 94px;
      padding-bottom: 94px;

   }

}

.content__menu {
   display: flex;
   flex-wrap: wrap;

}

.content__menu-card {
   box-sizing: border-box;

   margin-right: 30px;
   margin-bottom: 30px;




   @media screen and (min-width: 480px) and (max-width: 767px) {
      margin-right: 0px;


      &:last-child {
         margin-bottom: 0px;
      }
   }

   @media screen and (min-width: 768px) and (max-width: 1198px) {

      &:nth-child(2n) {
         margin-right: 0px;
      }

      &:nth-last-child(-n + 2) {
         margin-bottom: 0px;
      }
   }

   @media screen and (min-width: 1200px) {
      &:nth-child(3n + 3) {
         margin-right: 0px;
      }

      &:nth-last-child(-n + 3) {
         margin-bottom: 0px;
      }
   }
}

.content__subcard {
   border-bottom: 1px solid #EEEEEE;
   border-right: 1px solid #EEEEEE;
   border-left: 1px solid #EEEEEE;
   padding-left: 24px;
   padding-right: 24px;
   padding-top: 20px;
   padding-bottom: 20px;


}

.content__name {
   color: var(--title-text-color);
   font-size: 18px;
   font-weight: 700;
   line-height: 2;
   letter-spacing: 0.06em;


   @media screen and (min-width: 768px) and (max-width: 1198px) {
      font-size: 17.2px;

   }
}

.content__site {
   color: var(--main-text-color);
   font-size: 16px;
   line-height: 1.8;

}

.menu__button.is-open .content__card-img {
   display: none;
}

.content__card-img {
   display: block;
   padding: 0;


   @media screen and (max-width: 479px) {
      width: 290px;
      height: auto;
   }

   @media screen and (min-width: 480px) and (max-width: 767px) {
      width: 450px;
      height: auto;

   }

   @media screen and (min-width: 768px) and (max-width: 1198px) {
      width: 354px;
      height: auto;
   }

   @media screen and (min-width: 1200px) {
      width: 370px;
      height: auto;
   }
}


.content__menu-link {
   display: block;
   transition-property: box-shadow;
   transition-duration: 250ms;
   transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

   &:hover,
   &:focus {

      box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
   }

   &:hover .content__card-label {
      transform: translateY(0%);
      opacity: 1;
   }
}

.content__card {
   position: relative;
   overflow: hidden;

   &-label {
      color: rgba(255, 255, 255, 1);
      font-size: 18px;
      font-weight: 400;
      line-height: 1.55;
      letter-spacing: 0.03em;
      padding-top: 63px;
      padding-bottom: 63px;
      padding-left: 24px;
      padding-right: 24px;
      background-color: rgba(33, 150, 243, 0.9);
      /*
      width: 100%;
      height: 100%;*/
      top: 0;
      left: 0;
      position: absolute;
      transform: translateY(100%);
      opacity: 0;
      transition-property: transform, opacity;
      transition-duration: 250ms;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

   }
}