/*стиль ГЕГОЙ*/

.herostyle {
   background-color: var(--grey-color);
   text-align: center
}

.hero__title {

   color: var(--main-color);
   text-transform: uppercase;
   font-weight: 900;
   font-size: 26px;
   line-height: 1.36;
   letter-spacing: 0.06em;
   margin-right: auto;
   margin-left: auto;

   @media screen and (min-width: 480px) {
      width: 360px;
   }


   @media screen and (min-width: 1200px) {
      width: 696px;
      color: var(--main-color);
      text-transform: uppercase;
      font-weight: 900;
      font-size: 44px;
      line-height: 1.36;
      letter-spacing: 0.06em;
      margin-right: auto;
      margin-left: auto;
   }
}

.section.herostyle {
   padding-top: 118px;
   padding-bottom: 118px;





   @media screen and (min-width: 1200px) {
      padding-top: 200px;
      padding-bottom: 200px;
   }
}

.background-hero {
   max-width: 1600px;
   background-image: linear-gradient(to top,
         rgba(47, 48, 58, 0.4),
         rgba(47, 48, 58, 0.4)),
      url(../img/icon/general-img.jpg);

   background-repeat: no-repeat;
   margin-left: auto;
   margin-right: auto;
}

.hero--button {
   color: var(--main-color);

   margin-top: 30px;
   padding-top: 10px;
   padding-bottom: 10px;

   &:hover,
   &:focus {
      background-color: var(--hover-color);
   }
}

.current-button {
   color: var(--main-color);
   background-color: var(--accent-color);
}