/*стиль Особливості*/
.section.special {
   @media screen and (max-width: 1198px) {
      padding-top: 60px;
      padding-bottom: 60px;
   }

}

.galery__card {
   display: flex;
   flex-wrap: wrap;
}

.galery__list {
   max-width: 450px;

   @media screen and (min-width: 768px) and (max-width: 1198px) {
      width: 354px;
      margin-right: 30px;

      &:nth-child(2n) {
         margin-right: 0px;
      }
   }

   @media screen and (min-width: 1200px) {
      width: 270px;
      margin-right: 30px;

      &:last-child {
         margin-right: 0px;
      }

   }
}


.hero-title::before {
   display: block;
   margin-right: 20px;
   width: 50px;
   height: 50px;
   background-color: red;
}

.galery__text {
   margin-bottom: 10px;
}


.galery__subtitle {
   display: flex;
   justify-content: center;

   color: var(--title-text-color);
   font-size: 14px;
   font-weight: 700;
   line-height: 1.17;
   text-transform: uppercase;
   margin-top: 30px;
   margin-bottom: 10px;

   @media screen and (min-width: 768px) {
      justify-content: flex-start;
   }


   @media screen and (min-width: 1200px) {
      color: var(--title-text-color);
      /*font-size: 14px;
      font-weight: 700;
      line-height: 1.17;
      text-transform: uppercase;
      margin-top: 30px;
      margin-bottom: 10px;*/
   }
}

.galery__icon {
   display: block;
}

.galery__card-icon {
   max-width: 450px;
   height: 120px;
   background-color: #F5F4FA;
   border-radius: 4px;
   display: flex;
   justify-content: center;
   align-items: center;

   @media screen and (min-width: 768px) {
      width: 354px;

   }



   @media screen and (min-width: 1200px) {

      width: 270px;
      height: 120px;
      /*background-color: #F5F4FA;
      border-radius: 4px;
      display: flex;
      justify-content: center;
      align-items: center;*/

   }
}