/*стиль Галерея*/

section.work {
   display: none;

   @media screen and (min-width: 1200px) {
      display: contents;
      padding-top: 0px;
   }
}

.work__title {
   color: var(--title-text-color);
   font-size: 36px;
   font-weight: 700;
   line-height: 1.16;

   margin-bottom: 50px;
   text-align: center;
}

.work__card {
   display: flex;
   /*flex-wrap: wrap;*/
}

.work__img {
   margin-right: 30px;
   position: relative;

   &:last-child {
      margin-right: 0px;
   }
}

.work__pict {
   display: block;
}

.work__label {
   color: rgba(255, 255, 255, 1);
   font-size: 14px;
   font-weight: 700;
   line-height: 1.17;
   text-transform: uppercase;
   padding-top: 27px;
   padding-bottom: 27px;

   background-color: rgba(47, 48, 58, 0.8);
   text-align: center;
   position: absolute;
   width: 100%;
   bottom: 0;
   left: 0;
}